CourseDrawer/XmlToSchema1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="XML">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="courseplayHud">
          <xs:complexType>
            <xs:attribute name="posX" type="xs:decimal" use="required" />
            <xs:attribute name="posY" type="xs:decimal" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="courseplayFields">
          <xs:complexType>
            <xs:attribute name="automaticScan" type="xs:boolean" use="required" />
            <xs:attribute name="onlyScanOwnedFields" type="xs:boolean" use="required" />
            <xs:attribute name="debugScannedFields" type="xs:boolean" use="required" />
            <xs:attribute name="debugCustomLoadedFields" type="xs:boolean" use="required" />
            <xs:attribute name="scanStep" type="xs:unsignedByte" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="courseplayWages">
          <xs:complexType>
            <xs:attribute name="active" type="xs:boolean" use="required" />
            <xs:attribute name="wagePerHour" type="xs:integer" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="courseplayIngameMap">
          <xs:complexType>
            <xs:attribute name="active" type="xs:boolean" use="required" />
            <xs:attribute name="showName" type="xs:boolean" use="required" />
            <xs:attribute name="showCourse" type="xs:boolean" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="courseManagement">
          <xs:complexType>
            <xs:attribute name="batchWriteSize" type="xs:integer" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="courses">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="course">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="waypoint1">
                      <xs:complexType>
                        <xs:attribute name="angle" type="xs:decimal" use="required" />
                        <xs:attribute name="speed" type="xs:integer" use="required" />
                        <xs:attribute name="turnend" type="xs:unsignedByte" use="optional" />
                        <xs:attribute name="pos" type="xs:string" use="required" />
                        <xs:attribute name="crossing" type="xs:unsignedByte" use="optional" />
                        <xs:attribute name="turnstart" type="xs:unsignedByte" use="optional" />
                        <xs:attribute name="wait" type="xs:unsignedByte" use="optional" />
                        <xs:attribute name="rev" type="xs:unsignedByte" use="optional" />
                      </xs:complexType>
                    </xs:element>
                   </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="folders">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="folder">
                <xs:complexType>
                  <xs:attribute name="id" type="xs:unsignedByte" use="required" />
                  <xs:attribute name="parent" type="xs:unsignedByte" use="required" />
                  <xs:attribute name="name" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>